{% extends 'template/master.twig' %}

{% block pageTitle %}Print Nota Toko ({{ receipt.id }}){% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url()}}/css/print.css">
{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}
    
    {% include 'receipt/partials/menu.twig' %}

    <h2 class="ui header">Print Nota Toko</h2>

    <div class="storeReceipt">
        <table class="storeReceipt__header">
            <tr>
                <td width="260px">
                    <img src="{{ base_url()}}/images/point.png" class="storeReceipt__logo">
                    <p class="storeReceipt__address">
                        Jl. Bakar Batu No.8C Tanjungpinang - Kepri <br>
                        Telp. +62771 - 316338, HP. +62823 1980 6633 <br>
                        Email: point_dp@yahoo.com    
                    </p>
                </td>
                <td>
                    <div class="storeReceipt__number">
                        <span class="title">Nota</span>
                        <span class="number">No: {{ receipt.formattedNumber() }}</span>
                    </div>
                </td>
                <td width="260px" class="storeReceipt__to">
                    <p>Tanjungpinang, {{ receipt.created_at|date }}</p>
                    <span>Kepada: <strong>{{ receipt.customer }}</strong></span>
                </td>
            </tr>
        </table>
        <table class="storeReceipt__body ui small very compact celled table">
            <thead>
                <tr>
                    <th class="three wide column">Banyaknya</th>
                    <th>Nama Barang</th>
                    <th class="three wide column">Harga Satuan</th>
                    <th class="two wide column">Jumlah</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% if workOrders is not empty %}
                    {% for workOrder in workOrders %}
                        <tr>
                            <td>{{ workOrder.quantity|number_format }} {{ workOrder.unit }}</td>
                            <td>{{ workOrder.product }}</td>
                            <td>{{ workOrder.price|number_format }}</td>
                            <td>{{ workOrder.total|number_format }}</td>
                        </tr>
                        {% set total = total + workOrder.total %}
                    {% endfor %}
                {% endif %}
                {% if items is not empty %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.quantity|number_format }} {{ item.unit }}</td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.price|number_format }}</td>
                            <td>{{ item.total|number_format }}</td>
                        </tr>
                        {% set total = total + item.total %}
                    {% endfor %}
                {% endif %}
                {% set remaining = 6 - (workOrders|length + items|length) %}
                {% if remaining > 0 %}
                    {% for i in 1..remaining %}
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                    {% endfor %}
                {% endif %}
                
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">&nbsp;</th>
                    <th><strong>Total (Rp)</strong></th>
                    <th><strong>{{ total|number_format }}</strong></th>
                </tr>
            </tfoot>
        </table>
        <div class="storeReceipt__sign-box">
            <div class="receive-sign">
                <span>Tanda Terima,</span>
            </div>
            <div class="regard-sign">
                <span>Hormat Kami,</span>
            </div>
        </div>
    </div>

    <p></p>
    <div>
        <a class="ui primary button" id="js--print"><i class="print icon"></i> Print</a>
        <a href="javascript:window.open('','_self').close();" class="ui button">Close</a>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ base_url()}}/js/jquery.print.min.js"></script>

    <script>
        $('.storeReceipt').print()

        $('#js--print').click(function(event) {
            event.preventDefault()
            $('.storeReceipt').print()
        })
    </script>
{% endblock %}