{% extends 'template/master.twig' %}

{% block pageTitle %}Tambah Akun{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}

    {% include 'user/partials/menu.twig' with {'menu': 'create'} %}

    <h2 class="ui header">
        Buat Akun
        <div class="sub header">Membuat akun pengguna sistem.</div>
    </h2>

    <form action="{{ path_for('users.store') }}" method="post" class="ui form">
        <div class="five wide {% if errors.username %}error{% endif %} required field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" value="{{ old.username }}">
        </div>
        <div class="two fields">
            <div class="five wide {% if errors.password or errors.password_confirmation %}error{% endif %} required field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="five wide {% if errors.password_confirmation %}error{% endif %} required field">
                <label for="password_confirmation">Konfirmasi Password</label>
                <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Konfirmasi Password">
            </div>
        </div>
        <div class="five wide field">
            <label for="access_level">Akses Level</label>
            <select name="access_level" id="access_level" class="ui search dropdown">
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.access_level }}</option>
                {% endfor %}
            </select>
        </div>

        {{ csrf.fields|raw }}

        {% include 'template/partials/errors.twig' %}

        <div class="field">
            <button type="submit" class="ui primary button"><i class="save icon"></i>Save</button>
            <a href="{{ path_for('users.index') }}" class="ui button">Cancel</a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ base_url() }}/js/index.js"></script>
{% endblock %}