{% extends 'template/master.twig' %}

{% block pageTitle %}Akun{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}

    {% include 'user/partials/menu.twig' with {'menu': 'index'} %}

    <h2 class="ui header">
        Daftar Akun
        <div class="sub header">Akun pengguna yang terdaftar.</div>
    </h2>

    <form method="get" class="ui form">
        <div class="fields">
            <div class="four wide field">
                <input type="text" name="q" placeholder="Nama pengguna" value="{{ GET['q'] ?? null }}" required>
            </div>
            <div class="field">
                <button type="submit" class="ui button"><i class="search icon"></i>Search</button>
            </div>
        </div>
    </form>
    
    {% include 'template/partials/flash.twig' %}

    {% if users is not empty %}
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Akses Level</th>
                    <th>Tanggal Gabung</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path_for('users.show', {'id': user.id}) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.accessLevel.access_level }}</td>
                        <td>{{ user.created_at|date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ users.links|raw }}
    {% else %}
        {% include 'template/partials/notFoundMessage.twig' with {'variable': 'pengguna'} %}
    {% endif %}
{% endblock %}