{% extends 'template/master.twig' %}

{% block pageTitle %}Tambah Catatan{% endblock %}

{% block content %}
    {% include 'template/partials/header.twig' %}

    {% include 'note/partials/menu.twig' with {'menu': 'create'} %}

    <h2 class="ui header">
        Tambah Catatan
        <div class="sub header">Membuat catatan baru.</div>
    </h2>

    <form action="{{ path_for('notes.store') }}" method="post" class="ui form">
        <div class="six wide required field">
            <label for="catatan">Catatan</label>
            <textarea name="catatan" id="catatan"></textarea>
        </div>

        {{ csrf.fields|raw }}

        {% include 'template/partials/errors.twig' %}
        <div class="field">
            <button type="submit" class="ui primary button"><i class="save icon"></i> Save</button>
            <a href="{{ path_for('notes.index') }}" class="ui button">Cancel</a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ base_url()}}/js/tinymce/tinymce.min.js"></script>
    <script src="{{ base_url()}}/js/tinymce.js"></script>
{% endblock %}